.wrapper {
    max-width: 978px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: skyblue;
    padding: 0.5em;
    color: #FEFEFE;
    border-radius: 3px;
    text-decoration: none;
}

.player {
    width: 80%;
    display: inline-block;
    float: left;
}

@media (max-width: 600px) {
  .player {
    width: 70%;
  }
}

.bitrate-menu {
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}
.bitrate-option {
    margin-left: 10px;
}

.languages {
    display: inline-block;
    float: right;
}

.language {
    padding: 5px;
}

.language:hover {
    cursor: pointer;
    text-decoration: underline;
}

.translation-indicator {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    /* width and height can be anything, as long as they're equal */
}

.active {
    background-color: lightgreen;
}

.inactive {
    background-color: tomato;
}