.wrapper {
    max-width: 978px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: skyblue;
    padding: 0.5em;
    color: #FEFEFE;
    border-radius: 3px;
    text-decoration: none;
}

.btn:hover {
    color: #000;
    text-decoration: underline;
}

.translation-toggle {
    height: 25px;
    margin-left: 10px;
    font-size: 10px;
    float: right;
}

.player {
    width: 70%;
    display: inline-block;
    float: left;
}

.admin .player {
    width: 60%;
}

.bitrate-menu {
    display: inline-block;
    /*float: right;*/
    width: 100%;
    margin-bottom: 10px;
}

.bitrate-option {
    margin-left: 10px;
}

.bitrate-menu .title {
    float: left;
    color: blue;
}

.languages {
    display: inline-block;
    float: right;
}

.languages-list {
    list-style: none;
    padding: 0;
    column-count: 2;
    column-gap: 20px;
}

.language {
    padding: 10px 5px;
}

.language.active {
    background-color: blueviolet;
}

.language:hover {
    cursor: pointer;
    text-decoration: underline;
}

.translation-indicator {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    /* width and height can be anything, as long as they're equal */
}

.active {
    background-color: lightgreen;
}

.inactive {
    background-color: tomato;
}

@media (max-width: 800px) {
    .player {
        width: 100%;
    }

    .languages {
        float: none;
        display: block;
    }
}


